<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gjhgjh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45AD4E8A1C1376EE00A94C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45AD4EA61C1376EE00A94C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45AD4EB11C1376EE00A94C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
